<div class="container">
    <div class="row">
        <div class="span4">
            <p>DevNext User Group is registered under <a href="http://www.ineta.org">INETA</a> and is supported by many organizations around the world like Microsoft, Jetbrains, Pluralsight, Wiley (Wrox), O'Reilly etc.</p>
        </div>
        <div id="footerImages" class="span4">
            <a href="http://www.facebook.com/DevNext">
                <img src="~/Content/Images/facebook_logo.png" alt="Facebook Page" /></a>
            <a href="http://twitter.com/DevNext">
                <img src="~/Content/Images/twitter-bird-white-on-blue.png" alt="Twitter"></a>
        </div>
        <div class="span4">
            <p>This site is developed by DevNext User Group Leader <a href="http://www.adilmughal.com">Adil Mughal</a></p>
        </div>
    </div>
</div>