<div class="container">
    <!--[if lt IE 9]>
        <div class="row">
            <div class="span12 alert alert-block">
                <span>You are using an <strong>outdated</strong> browser. For the best experience on the web, please update your browser.</span> <a href="http://browsehappy.com/"><div class="pull-right btn btn-info">Upgrade your browser</div></a>
            </div>
        </div>
    <![endif]-->
    <div class="row">
        <div class="span12">
            <div id="logo" class="pull-left">
                <figure>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Images/logo.jpg" />
                    </a>
                    <figcaption class="site-title">Partners in learning, unleashing your potential and making learning a culture</figcaption>
                </figure>
            </div>
            <div id="logininfo" class="pull-right">
                @Html.Partial("_LoginPartial")
            </div>
            @*<div class="navbar navbar-inverse pull-right">
                <div class="navbar-inner">
                    <div style="width: auto;">
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                 @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                        <!-- /.nav-collapse -->
                    </div>
                </div>
                <!-- /navbar-inner -->
            </div>*@
        </div>
    </div>
</div>
