@model IEnumerable<DevNext.Web.Models.TechnicalContent>

@{
    ViewBag.Title = "Archive";
}
<section id="archive_list">
    <div class="page-header">
        <h2>Technical Content Archive</h2>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Content</th>
                <th>Slides</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a target="_blank" href="@item.Url">@item.Title</a></td>
                    <td><a target="_blank" href="@item.SlidesUrl">Download slides</a></td>
                    <td>@if (string.IsNullOrEmpty(item.DemoCodeUrl))
                        {
                        <span>No associated code available</span>
                        }
                        else
                        {
                        <a target="_blank" href="@item.DemoCodeUrl">Download Code</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
